{% extends 'district_collector/collector_base2.html' %}
{% block body %}
<div class="col-md-offset-2 col-md-8">
 
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1 style="font-family: 'Times New Roman', Times, serif; color: red;">Welcome to the Public Distribution System</h1>
                Empowering Communities with Essential Supplies
                
            </div>
        </section>
        <br>

        <section class="features">
            <!-- Feature Cards -->
            <div class="feature-card">
                <b>1. தகுதிகளின் மட்டத்தில் உயர்வு:</b> 
                பொது விநியோகத்தில் தகுதிகள் மேம்படுத்தப்படும் மூலம், மக்கள் அனைத்து
                வகையான பொருட்களையும் நேரடியாகவும் உடனே அளித்து வழங்க முடியும். 
                இது அவசியமான அளவிற்கு உயர்வுகளை உண்டுபண்ணும்.
            </div><br>
            <div class="feature-card">
                <!-- Feature 2 content -->
                <b>2. குறைந்த மதிப்பீடு: </b>
                பொது விநியோகத்தில் விற்கப்படும் பொருட்களின் விலை குறைந்துவிடும்.
                இது மக்களுக்கு அனைவருக்கும் பயன் கொடுக்கும்.
            </div><br>
            <div class="feature-card">
                <!-- Feature 3 content -->
                <b>3. பயனர் அணுகும் வசதி:</b>
                பொது விநியோகம் மக்களுக்கு வசதியாக இருக்கும், 
                அவர்கள் தங்கள் தரவை எளிதாகவே அணுக முடியும் மற்றும் தேவையற்ற காலத்தில்
                விநியோகத்தில் பங்களித்து மதிப்பிட முடியும்.
            </div>
            <br>
            <br>
            <div class="feature-card">
                <b>1. Enhancement in Credential Level:</b> 
                In public distribution, credentials are enhanced, 
                allowing immediate delivery of various types of goods to all people.
                This ensures high-level enhancements for necessary provisions.
            </div><br>
            <div class="feature-card">
                <!-- Feature 2 content -->
                <b>2. Reduced Valuation: </b>
                In public distribution, the prices of available goods are reduced. This benefits everyone.
            </div><br>
            <div class="feature-card">
                <!-- Feature 3 content -->
                <b>3. User Accessibility Convenience:</b>
                Public distribution provides convenience for people to access their data easily and
                participate in evaluations required in distribution, even during times of need.
            </div>
        </section>

      
    </main>


{% endblock %}