{% extends 'district_collector/collector_base2.html' %}
{% block body %}
<div class="col-md-offset-2 col-md-7">
    <h3 class="page-header text-primary text-center">RATIONSHOP LIST</h3>
    <table class="table table-border col-md-10">
        <thead>
            <tr>
                <th>S.No</th>
                <th>RationShop Number</th>
                <th>District</th>
                <th>Taluk(tk)</th>
                <th>Village Name</th>
            </tr>
        </thead>
        {% for data in dataofshop %}
        <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.shopno}}</td>
                <td>{{data.district}}</td>
                <td>{{data.taluk}}</td>
                <td>{{data.location}}</td>
            </tr>                     
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}