{% extends 'web/base2.html' %}
{% block body %}

        <div class="container">
            <div class="col-md-offset-3 col-md-5">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                <h3 class="page-header text-primary text-center">Add Product & Price </h3>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" class="form-control" name="product_name" required >
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" name="price" required>
                </div>
                <div class="form-group pull-right">
                    <input type="submit" value="ADD" class="btn btn-primary" onclick="return alert('Product Price is Inserted Successfully!')">
                    <input type="reset" value="CLEAR" class="btn btn-danger">
                </div>
                </form>
               
            </div>
        </div>
{% endblock %}