{% extends 'web/base.html' %}
{% block body %}
<section class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">District</a>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" scroll active"><a href="{% url 'stocks' %}">Stock Details</a></li>
                        <li class="scroll"><a href="#">RationShop list</a></li>
                        <li class="scroll"><a href="{% url 'pricelist' %}">Product Price List</a></li>
                        <li class="scroll"><a href="{% url 'shopregister' %}">RationShop Register</a></li>
                        <li class="scroll"><a href="#blog">Messages</a></li>
                        <li class="scroll"><a href="{% url 'login' %}">Logout</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    {% endblock %}